<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mguild"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> <!-- Approximate location - If you want to use promptLocation for letting OneSignal know the user location. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> <!--  Precise location If you want to use promptLocation for letting OneSignal know the user location. -->


    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <application
      android:name=".MainApplication"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/uwlogo"
      android:theme="@style/AppTheme">
      <activity
        android:launchMode="singleTop"
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter android:label="filter_react_native">
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
          <data android:scheme="http"
              android:host="tempestgrove.com"
              android:pathPrefix="/character-builder-beta" />
          <data android:scheme="http"
              android:host="tempestgrove.com"
              android:pathPrefix="/character-generator" />
          <data android:scheme="http"
              android:host="messenger.com"
              android:pathPrefix="/t/emperiex" />
          <data android:scheme="http"
              android:host="larp.ca" />
          <data android:scheme="http"
              android:host="underworldlarp.com"
              android:pathPrefix="/forum" />
          <data android:scheme="http"
              android:host="underworldlarp.com"
              android:pathPrefix="/wiki/index.php" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>
